<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
    panelClass="sort-select"
    [(ngModel)]="sort"> 
    <mat-option value="name">Name</mat-option>
    <mat-option value="name">DateOfRelease</mat-option>


    </mat-select>
  </mat-form-field>

  <div class="books">
      <div class="book">
          <div class="book-thumb-container">
            <img
            src="../../assets/videos/hamahama.jpg"
            alt="thumbnail"
            class="book-thumbnail"
            />
          </div>

        <div class="book-description">
          <p class="book-name">Name</p>
          <div class="book-platforms">
            <img
            class="book-platform" 
            src="../../assets/videos/hamahama.jpg"
            alt="slug"
            />
          </div>

        </div>
    
    </div>
</div>
